/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
.tile-many-lines,
.text-many-lines {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
.img-bg-cover,
.img-bg-contain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.img-bg-contain {
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@supports (object-fit: cover) {
  .img-bg-cover {
    height: 100%;
    object-fit: cover;
  }
}
@supports (object-fit: contain) {
  .img-bg-contain {
    height: 100%;
    object-fit: contain;
    max-width: inherit;
    max-height: inherit;
    right: auto;
    bottom: auto;
  }
}
.item-tile,
.tile-outer-wrap,
.tile-inner-wrap,
.tile-photo-wrap,
.tile-photos-wrap,
.tile-info-wrap,
.tile-text-wrap,
.tile-title-wrap,
.tile-desc-wrap,
.tile-actions-wrap,
.tile-action-wrap,
.tile-ico,
.tile-photo,
.tile-info,
.tile-text,
.tile-title,
.tile-desc {
  display: block;
  position: relative;
}
.tile-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
.items-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.item-wrap {
  width: 100%;
  position: relative;
  break-inside: avoid-column;
  display: block;
  animation: fadein ease 0.2s;
}
.slider.swiper-wrapper {
  -ms-flex-align: stretch;
      align-items: stretch;
}
.slider.swiper-wrapper .sl-wrap {
  min-height: 100%;
}
.slider-wrap,
.slider,
.sl-wrap {
  position: relative;
  line-height: 1;
}
.js-tab-block {
  animation: fadein ease 0.2s;
}
.js-tab-block:not(.active) {
  display: none;
}
.js-tab-block.tab-slider:not(.active) {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  height: 0;
  position: relative;
  overflow: hidden;
}
.js-btn-popup-toggle.active + .js-popup-block {
  display: block !important;
}
.link-phone {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #333;
  padding: 0 0 0 28px;
}
.link-phone:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icons/phone.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  left: 0;
  margin-top: -12px;
}
.btn-action-ico {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all ease 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-ico:not(.btn) {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico [class*="icon-"],
.btn-action-ico img,
.btn-action-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.2s;
}
.btn-action-ico img,
.btn-action-ico svg {
  max-width: 24px;
  max-height: 24px;
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}
.btn-action-ico:hover {
  text-decoration: none;
}
.btn-action-ico:hover:not(.btn) {
  background: none;
  box-shadow: none;
}
.btn-action-ico.button-soc img,
.btn-action-ico.button-soc svg {
  max-width: 100%;
  max-height: 100%;
}
.btn-action-ico.button-soc:hover {
  opacity: 0.8;
}
.btn-action-ico.ico-search:before {
  background-image: url(../img/icons/search.svg);
}
.btn-action-ico.ico-play:before {
  background-image: url(../img/icons/play.svg);
  background-size: 100% auto;
}
.btn-action-ico.ico-arrow {
  z-index: 10;
  cursor: pointer;
}
.btn-action-ico.ico-arrow:before {
  background-image: url(../img/icons/arrow-slider.svg);
}
.btn-action-ico.ico-arrow.swiper-button-disabled {
  display: block;
  opacity: 0;
  pointer-events: none;
}
.btn-action-ico.ico-arrow-prev:before {
  transform: rotate(180deg);
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
:root {
  --clr-att: #E63F23;
  --clr-base: #000;
  --clr-text: #888;
}
.container > .row > .maxwidth-theme > .content-md.content-box {
  display: block;
}
@media (min-width: 375px) and (max-width: 991px) {
  .mobileheader .line-block__item:not(.hidden) + .logo {
    max-width: 200px;
  }
}
@media (max-width: 340px) {
  .mobileheader__item--right-icons {
    width: 80px;
  }
}
@media (min-width: 992px) {
  .header-menu--height_61 .header-menu__item,
  .header-menu--height_61 .header-menu__wrapper,
  .header__main-part--height_61 {
    height: 74px;
  }
  .header-menu--centered .header-menu__wrapper {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .header__top-item.header__top-item-phones {
    display: -ms-flexbox;
    display: flex;
  }
  .header__top-item.header__top-item-phones .link-phone {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 24px;
  }
  .header__top-item.header__top-item-phones .link-phone:first-child {
    margin-left: 0;
  }
  .header__top-item.header__top-item-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .header__top-item.header__top-item-actions .line-block__item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0 0 0 20px;
  }
  .header__top-item.header__top-item-actions .line-block__item:first-child {
    padding-left: 0;
  }
  .header__top-item .line-block__item-button {
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
  }
  .header__top-item .line-block__item-button:hover {
    color: var(--fill_dark_light_hover);
  }
  .header__main-item .line-block__item,
  .header__main-item .header-cabinet__link {
    display: none;
  }
  .header__main-item .line-block__item-search {
    position: relative;
    padding-right: 0;
    display: block;
  }
  .header__main-item .line-block__item-search .btn-action-ico {
    width: 28px;
    height: 28px;
  }
  .header__main-item .line-block__item-search .search-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
    z-index: 10;
    width: 300px;
    display: none;
  }
  .header__main-item .line-block__item-soc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-left: 15px;
  }
  .header__main-item .line-block__item-soc .btn-action-ico {
    width: 28px;
    height: 28px;
    margin: 0 7px 0 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .header__main-item .line-block__item-soc .btn-action-ico:last-child {
    margin-right: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header__top-item.header__top-item-phones .link-phone {
    margin: 0;
  }
  .header__top-item.header__top-item-phones .link-phone:last-child {
    display: none;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-video {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
  height: 100%;
  border-radius: 20px;
}
.item-tile-video:before {
  content: "";
  display: block;
  padding-bottom: 64.7%;
}
.item-tile-video iframe,
.item-tile-video object,
.item-tile-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-tile-video .tile-img {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.item-tile-video .tile-bg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.item-tile-video .btn-action-ico {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  margin: auto;
  width: 75px;
  height: 75px;
}
.item-tile-video:after {
  content: "";
  display: block;
  z-index: 4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
.item-tile-video.active .tile-bg,
.item-tile-video.active img,
.item-tile-video.active .tile-img,
.item-tile-video.active .btn-action-ico,
.item-tile-video.active:after {
  display: none;
}
.item-tile-event {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  border: 1px solid #F8F8F8;
}
.item-tile-event .tile-info-wrap {
  padding: 10px 15px 15px 15px;
}
.item-tile-event .tile-photo {
  aspect-ratio: 280/200;
}
.item-tile-event .tile-title {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: var(--clr-base);
  margin: 0;
  font-weight: 400;
}
.item-tile-event .tile-info {
  display: block;
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  color: var(--clr-text);
  margin-bottom: 9px;
}
.item-tile-face {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto;
  text-align: center;
  color: var(--clr-text);
  font-size: 12px;
  line-height: 1.25;
  min-height: 100%;
}
.item-tile-face .tile-photo-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-face .tile-info-wrap {
  -ms-flex: 1;
      flex: 1;
  padding: 30px 0;
}
.item-tile-face .tile-action-wrap {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-face .tile-photo {
  aspect-ratio: 280/200;
  border-radius: 10px;
  background: #fff;
}
.item-tile-face .tile-title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--clr-base);
  margin: 0 0 7px 0;
}
.item-tile-face .tile-info {
  display: block;
}
.item-tile-face .btn {
  font-size: 14px;
  padding: 8px 16px;
}
.item-tile-action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 173px;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #D9E9F6;
}
.item-tile-action.tile-action02 {
  background-color: #DAC7F7;
}
.item-tile-action.tile-action03 {
  background-color: #F2F2F7;
}
.item-tile-action.tile-action04 {
  background-color: #E6F3FF;
}
.item-tile-action.tile-action001 {
  background-color: #D9E9F6;
}
.item-tile-action.tile-action002 {
  background-color: #F2F2F7;
}
.item-tile-action.tile-action003 {
  background-color: #DAC7F7;
}
.item-tile-action.tile-action004 {
  background-color: #E6F3FF;
}
.item-tile-action .tile-info-wrap {
  display: block;
  position: relative;
  z-index: 2;
  padding: 15px 120px 15px 15px;
}
.item-tile-action .tile-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  aspect-ratio: inherit;
  width: auto;
}
.item-tile-action .tile-photo img {
  width: auto;
  max-width: inherit;
  height: 100%;
  margin: 0 0 0 auto;
}
.item-tile-action .tile-title {
  display: block;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
  margin: 0 0 16px 0;
  color: var(--clr-base);
}
.item-tile-action .tile-title.title-light {
  font-weight: 400;
}
.item-tile-action .title-att {
  color: var(--clr-att);
}
.item-tile-action .btn {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding: 6px 11px;
}
.item-tile-action-main {
  display: block;
  position: relative;
  padding: 30px 15px 80px 15px;
  min-height: 440px;
  font-size: 16px;
  color: #666;
  background: #F8F8F8 url(../img/action-bg.png) 0 bottom repeat-x;
  background-size: auto 95px;
}
.item-tile-action-main .tile-info-wrap {
  padding-right: 130px;
  position: relative;
  z-index: 2;
}
.item-tile-action-main .tile-photo-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.item-tile-action-main .tile-photo {
  height: 100%;
  aspect-ratio: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.item-tile-action-main .tile-photo img {
  width: auto;
  max-width: inherit;
  height: 100%;
  margin: 0 0 0 auto;
}
.item-tile-action-main .tile-title {
  color: var(--fill_dark_light_hover);
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.item-tile-action-main ul {
  margin: 0;
}
.item-tile-action-main li {
  margin: 0 0 6px 0;
  padding: 0 0 0 20px;
}
.item-tile-action-main li:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--clr-att);
  top: 50%;
  left: 0;
  margin: -5px 0 0 0;
  display: block;
  position: absolute;
}
.item-tile-action-main .btn {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}
:is([class^="item-tile"]):hover .elm-photo img,
:is([class^="item-tile"]):hover .tile-photo img {
  transform: scale(1.03);
}
.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
}
.elm-photo.photo-main,
.tile-photo.photo-main {
  border: 1px solid #f00;
  width: 300px;
  height: 300px;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
  transition: all ease-out 1s;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@supports (aspect-ratio: 1) {
  .elm-photo:not(.photo-cover, .photo-contain),
  .tile-photo:not(.photo-cover, .photo-contain) {
    aspect-ratio: inherit !important;
  }
  .photo-cover,
  .photo-contain {
    aspect-ratio: 1;
  }
  .photo-cover:before,
  .photo-contain:before {
    display: none !important;
  }
}
.elm-price,
.tile-price {
  white-space: nowrap;
}
.elm-price.price-old,
.tile-price.price-old {
  text-decoration: line-through;
}
[data-unit]:after {
  content: attr(data-unit);
  font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
}
.elm-ico,
.button-ico,
.menu-ico,
.frm-ico,
.tab-ico,
.tile-ico,
.lbl-ico {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.elm-ico img,
.button-ico img,
.menu-ico img,
.frm-ico img,
.tab-ico img,
.tile-ico img,
.lbl-ico img,
.elm-ico [class*="icon-"],
.button-ico [class*="icon-"],
.menu-ico [class*="icon-"],
.frm-ico [class*="icon-"],
.tab-ico [class*="icon-"],
.tile-ico [class*="icon-"],
.lbl-ico [class*="icon-"],
.elm-ico .i,
.button-ico .i,
.menu-ico .i,
.frm-ico .i,
.tab-ico .i,
.tile-ico .i,
.lbl-ico .i,
.elm-ico svg,
.button-ico svg,
.menu-ico svg,
.frm-ico svg,
.tab-ico svg,
.tile-ico svg,
.lbl-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 599px) {
  .item-tile-action {
    min-height: 160px;
    border-radius: 15px;
    -ms-flex-align: end;
        align-items: flex-end;
  }
  .item-tile-action .tile-info-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  .item-tile-action .tile-title {
    margin-bottom: 5px;
  }
  .item-tile-action .tile-photo {
    right: -15px;
  }
}
@media (min-width: 992px) {
  .item-tile-action-main {
    min-height: 356px;
    font-size: 18px;
    line-height: 1.38888889;
    padding: 30px 30px 70px 30px;
  }
  .item-tile-action-main .tile-title {
    font-size: 36px;
  }
  .item-tile-action-main li {
    margin-bottom: 10px;
  }
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.list-menu-box {
  display: block;
}
.list-menu-box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  columns: 2;
  column-gap: 10px;
}
.list-menu-box ul li {
  width: 100%;
  break-inside: avoid-column;
  padding: 0;
  margin: 0;
}
.list-menu-box ul li:before {
  display: none;
}
.list-menu-box a {
  display: block;
  padding: 5px 0;
  color: inherit;
  font-size: 12px;
  line-height: 1;
}
.list-menu-box a:hover {
  color: var(--fill_dark_light_hover);
}
.tab-content-box {
  padding: 5px 10px 10px 10px;
  position: relative;
}
.tab-content-box:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background: #fff;
}
.tabs-menu-box {
  margin-bottom: 5px;
  border-radius: 20px;
  background: #E1E0F6;
  padding: 10px;
}
.tabs-menu-box .slider-inner-wrap {
  padding: 0 23px;
  position: relative;
}
.tabs-menu-box .ico-arrow {
  position: absolute;
  top: 50%;
  left: -12px;
  margin-top: -20px;
}
.tabs-menu-box .ico-arrow-next {
  left: auto;
  right: -12px;
}
.tabs-menu-box .slider-wrap {
  margin: 0 -7px;
}
.tabs-menu-box ul,
.tabs-menu-box li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tabs-menu-box ul:before,
.tabs-menu-box li:before {
  display: none;
}
.tabs-menu-box .sl-wrap {
  padding: 0 7px;
}
.tabs-menu-box .btn {
  font-size: 12px;
  padding: 4px 14px;
  font-weight: bold;
}
.tabs-menu-box .btn.btn-text {
  border-radius: 0;
  padding-left: 3px;
  padding-right: 3px;
  background: none;
  border: none;
  color: var(--clr-base);
  font-size: 14px;
}
.tabs-menu-box .btn.btn-text:not(.active, :hover) {
  color: var(--fill_dark_light_hover);
}
.tabs-menu-box .btn.btn-text.active {
  color: var(--clr-base);
}
.tabs-menu-box .btn.btn-default:not(.active, :hover) {
  background-color: #fff;
  border-color: #fff;
  color: var(--clr-base);
}
.tabs-menu-box .swiper-slide {
  width: auto;
}
.tab-box {
  border-radius: 20px;
  background: #E1E0F6;
}
.tab-box .tabs-menu-box {
  background: none;
  border-radius: 0;
  margin: 0;
}
.tiles-media-box .slider-inner-wrap {
  margin-bottom: 15px;
}
.tiles-media-box .slider-preview-wrap {
  position: relative;
  padding: 0 24px;
}
.tiles-media-box .slider-preview-wrap .elm-photo {
  cursor: pointer;
}
.tiles-media-box .slider-preview-wrap .elm-photo:hover:after,
.tiles-media-box .slider-preview-wrap .elm-photo:hover .btn-action-ico {
  opacity: 1;
}
.tiles-media-box .slider-preview-wrap .elm-photo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity ease 0.2s;
}
.tiles-media-box .slider-preview-wrap .elm-photo .btn-action-ico {
  width: 28px;
  height: 28px;
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: opacity ease 0.2s;
}
.tiles-media-box .slider-wrap {
  margin: 0 -5px;
}
.tiles-media-box .slider-wrap .elm-photo {
  border-radius: 5px;
  aspect-ratio: 140/90;
}
.tiles-media-box .slider-inner-wrap .elm-photo {
  border-radius: 15px;
  aspect-ratio: 340/220;
}
.tiles-media-box .sl-wrap {
  padding: 0 5px;
}
.tiles-media-box .ico-arrow {
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -20px;
}
.tiles-media-box .ico-arrow-next {
  left: auto;
  right: -10px;
}
.tiles-media-box .swiper-slide-active .elm-photo:after,
.tiles-media-box .swiper-slide-active .elm-photo .btn-action-ico {
  opacity: 1;
}
.tiles-slider-box .slider-inner-wrap {
  position: relative;
  padding: 0 30px;
}
.tiles-slider-box .slider-wrap {
  margin: 0 -7px;
}
.tiles-slider-box .sl-wrap {
  padding: 0 7px;
}
.tiles-slider-box .ico-arrow {
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -20px;
}
.tiles-slider-box .ico-arrow-next {
  left: auto;
  right: -10px;
}
.tiles-items-box .items-wrap {
  margin: 0 -7px -15px -7px;
}
.tiles-items-box .item-wrap {
  padding: 0 7px;
  margin-bottom: 15px;
  width: 50%;
}
.tiles-actions-box .items-wrap {
  margin: 0 -5px -10px -5px;
}
.tiles-actions-box .item-wrap {
  display: none;
  padding: 0 5px;
  margin-bottom: 10px;
}
.tiles-actions-box .wrap-slider {
  display: block;
}
.tiles-actions-box .slider-actions-wrap {
  position: absolute;
  bottom: 40px;
  left: 15px;
  margin-bottom: -20px;
  margin-left: -15px;
}
.section-title-wrap {
  position: relative;
  margin-bottom: 20px;
}
.section-title-wrap .index-block__action {
  text-align: center;
}
.section-more-wrap {
  text-align: center;
  margin: 15px 0 0 0;
  position: relative;
}
.section-more-wrap .index-block__link {
  font-size: 14px;
}
.section-more-wrap .index-block__arrow {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 10px;
}
.section-main {
  display: block;
  position: relative;
  clear: both;
  z-index: 2;
}
.section-main.no-tpadding {
  padding-top: 0;
}
.section-main.section-bg:before {
  display: block;
  z-index: -1;
}
.section-main:before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100dvw;
  min-width: 320px;
  transform: translateX(-50%);
  background-color: #F8F8F8;
}
.slider-actions-wrap {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
}
.slider-actions-wrap .btn-action-ico {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.slider-actions-wrap .swiper-pagination {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 5px;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  position: static;
  -ms-flex-align: center;
      align-items: center;
}
.slider-actions-wrap .swiper-pagination .swiper-pagination-bullet {
  display: block;
  position: relative;
  overflow: hidden;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--fill_dark_light_hover);
  border: none;
  padding: 0;
  margin: 0 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.slider-actions-wrap .swiper-pagination .swiper-pagination-bullet:before,
.slider-actions-wrap .swiper-pagination .swiper-pagination-bullet:after {
  display: none;
}
.slider-actions-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background: var(--clr-att);
}
.slider-actions-wrap .swiper-pagination .swiper-pagination-bullet:hover {
  background: var(--clr-att);
}
@media (max-width: 991px) {
  .tiles-media-box .section-title-wrap .index-block__preview-small {
    color: #666;
    font-size: 14px;
    line-height: 1.3;
  }
  .section-full-mobile,
  .section-full {
    margin-left: -24px;
    margin-right: -24px;
  }
  .section-main {
    margin-left: -6px;
    margin-right: -6px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .section-title-wrap {
    text-align: center;
    margin-bottom: 20px;
  }
  .section-title-wrap .index-block__title-wrapper {
    display: block;
  }
  .section-title-wrap .index-block__part--right {
    display: none;
  }
  .section-title-wrap .index-block__title {
    text-align: center;
  }
  .section-title-wrap .index-block__preview {
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
  }
  .section-title-wrap .index-block__preview-small {
    font-size: 12px;
    line-height: 2.1;
    text-align: left;
    padding-top: 5px;
  }
}
@media (min-width: 600px) {
  .list-menu-box ul {
    columns: 3;
  }
}
@media (min-width: 992px) {
  .list-menu-box ul {
    columns: 4;
    column-gap: 30px;
  }
  .list-menu-box a {
    font-size: 16px;
    padding: 7px 0 8px 0;
    line-height: normal;
  }
  .tab-content-box {
    padding: 7px 23px 28px 23px;
  }
  .tab-content-box:before {
    left: 23px;
    right: 23px;
  }
  .tabs-menu-box {
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 40px;
  }
  .tabs-menu-box .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
  .tabs-menu-box .btn.btn-text {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .tab-box {
    border-radius: 40px;
  }
  .tab-box .tabs-menu-box {
    padding-bottom: 10px;
  }
  .tiles-media-box .box-inner-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: end;
        align-items: flex-end;
  }
  .tiles-media-box .title-inner-wrap {
    width: 50%;
    -ms-flex-order: 1;
        order: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0 30px 30px 0;
  }
  .tiles-media-box .slider-inner-wrap {
    width: 50%;
    -ms-flex-order: 2;
        order: 2;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0 0 30px 0;
    padding-left: 10px;
  }
  .tiles-media-box .slider-preview-wrap {
    width: 100%;
    -ms-flex-order: 3;
        order: 3;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .tiles-media-box .section-title-wrap {
    margin-bottom: 0;
    text-align: left;
  }
  .tiles-media-box .section-title-wrap .index-block__preview {
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
  }
  .tiles-media-box .section-title-wrap .index-block__action {
    text-align: left;
    margin-top: -10px;
  }
  .tiles-items-box .item-wrap {
    width: 25%;
  }
  .tiles-actions-box:first-child {
    margin-top: 15px;
  }
  .tiles-actions-box .items-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 52% 24% 24%;
        grid-template-columns: 52% 24% 24%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    width: 100%;
    margin: 0;
    gap: 10px;
  }
  .tiles-actions-box .item-wrap {
    display: block;
    padding: 0;
    margin: 0;
  }
  .tiles-actions-box .wrap-slider {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .tiles-actions-box .slider-actions-wrap {
    margin-left: 0px;
  }
  .section-full {
    margin-left: -32px;
    margin-right: -32px;
  }
  .section-main {
    margin-left: -12px;
    margin-right: -12px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-more-wrap {
    display: none;
  }
  .section-title-wrap {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .tiles-media-box .section-title-wrap .index-block__title {
    font-size: 30px;
  }
  .tiles-actions-box .items-wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .list-menu-box ul {
    columns: 5;
  }
}
