<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><link rel="next" href="https://primemed32.ru/news/?PAGEN_1=2">
	<title>Новости и акции</title>
	<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="yes" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
	
<meta name="keywords" content="О клинике">
<meta name="description" content="Клиника «Прайм Медикал» оказывает широкий спектр медицинских услуг: акушерство-гинекология, неврология, эндокринология, терапия, педиатрия, кардиология, оториноларингология, ультразвуковая и функциональная диагностика, физиотерапия, все виды анализов, предрейсовые медицинские осмотры водителей автотранспортных средств. &amp;lt;/p&amp;gt; &amp;lt;p&amp;gt; Только лучшему врачу вы доверите самое ценное — здоровье ваше и ваших близких! В клинике работают квалифицированные специалисты, имеющие большой опыт практической работы. &amp;lt;/p&amp;gt; &amp;lt;p&amp;gt; Наши пациенты уже успели оценить качество оказываемых услуг — это профессиональные специалисты, современное оборудование, приветливый персонал и уютная обстановка, поэтому нас советуют друзьям. ">



<link href="./index_files/page_b1959539446b49294b1aa054ec7c5679_v1.css" rel="stylesheet">
<link href="./index_files/default_5df5f46cd8635c5f390e1f242dcdb3de_v1.css" rel="stylesheet">
<link href="./index_files/template_a9bd6d50ba8305816d15872165b768c7_v1.css" data-template-style="true" rel="stylesheet">







			
			
		
<style>html {--theme-base-color: #5f58ac;--theme-base-opacity-color: #5f58ac1a;--theme-more-color: #5f58ac;--theme-border-radius:26px;--theme-text-transform:none;--theme-letter-spacing:normal;--theme-button-font-size:0%;--theme-button-padding-2px:0%;--theme-button-padding-1px:0%;--theme-more-color-hue:245;--theme-more-color-saturation:34%;--theme-more-color-lightness:51%;--theme-base-color-hue:245;--theme-base-color-saturation:34%;--theme-base-color-lightness:51%;--theme-lightness-hover-diff:6%}</style>
<style>.switcher-title {font-family: "Roboto", Arial, sans-serif;}</style>
<link href="./index_files/print.min.css" data-template-style="true" rel="stylesheet" media="print">



<link rel="shortcut icon" href="https://primemed32.ru/favicon.png" type="image/png">
<link rel="apple-touch-icon" sizes="180x180" href="https://primemed32.ru/upload/CMedc2/17d/88vq8od0sft9gbcz402cy17i1vobo5ll.png">
<link rel="alternate" type="application/rss+xml" title="rss" href="https://primemed32.ru/news/rss/">

<meta property="og:title" content="Новости и акции">
<meta property="og:type" content="website">
<meta property="og:image" content="https://primemed32.ru/upload/CAllcorp3Medc/45f/d0jeooojhbksqxpibwxphmf4np0ivykw.png">
<link rel="image_src" href="./index_files/d0jeooojhbksqxpibwxphmf4np0ivykw.png">
<meta property="og:url" content="https://primemed32.ru/news/">
<meta property="og:description" content="Клиника «Прайм Медикал» оказывает широкий спектр медицинских услуг: акушерство-гинекология, неврология, эндокринология, терапия, педиатрия, кардиология, оториноларингология, ультразвуковая и функциональная диагностика, физиотерапия, все виды анализов, предрейсовые медицинские осмотры водителей автотранспортных средств. &lt;/p&gt; &lt;p&gt; Только лучшему врачу вы доверите самое ценное — здоровье ваше и ваших близких! В клинике работают квалифицированные специалисты, имеющие большой опыт практической работы. &lt;/p&gt; &lt;p&gt; Наши пациенты уже успели оценить качество оказываемых услуг — это профессиональные специалисты, современное оборудование, приветливый персонал и уютная обстановка, поэтому нас советуют друзьям. ">

<link rel="stylesheet" href="./css/all.css">
<link rel="stylesheet" href="./css/style.css">
<style>
	.tile-many-lines, .text-many-lines {
		-webkit-box-orient: vertical;
	}
</style>
							
		
</head>